<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} — {{ site_title }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    {{ vite_entry_link_tags('theme') }}
    {% block stylesheets %}{% endblock %}
</head>

<body class="bg-gray-50 {{ app.request.attributes.get('_route') }}">

<div class="container mx-auto">
    <div class="flex flex-col items-center justify-center py-8 mx-auto md:h-screen lg:py-0">
        <div class="flex items-center mb-6">
            {% block logo %}<img src="{{ asset('assets/images/logo.png') }}" alt="Logo" />{% endblock %}
        </div>
        <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    {{ block('title') }}
                </h1>

                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{{ component('flashes', {
    flashes: app.flashes,
}) }}

{{ vite_entry_script_tags('theme') }}
{% block javascripts %}{% endblock %}
</body>
</html>
