{% use 'form_div_layout.html.twig' %}

{# TODO: Refactor Start #}

{#
{% block input_class %} py-2 px-3 block w-full border border-gray-200 text-sm rounded-lg focus:border-{{ themeColor }}-500 focus:ring-{{ themeColor }}-500{% endblock %}
{% block input_color_class %} py-1/2 px-1 block border border-gray-200 rounded-lg focus:border-{{ themeColor }}-500 focus:ring-{{ themeColor }}-500 w-10 h-10 cursor-pointer{% endblock %}
{% block input_error_class %} border-red-500 focus:border-red-500 focus:ring-red-500 outline-red-500{% endblock %}
{% block input_disable_class %} border-stone-300 text-stone-500{% endblock %}



#}
{# TODO: Refactor END #}

{% block form_help -%}
    {# TODO #}
    {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' ')|trim ~ ' text-sm text-gray-500 mt-2'}) -%}
    {{- parent() -}}
{%- endblock form_help %}


{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="form-errors">
            {%- for error in errors -%}
                <div>{{ error.message }}</div>
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}


{%- block form_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('form_row')) }) -%}
    {% if valid is not same as(true) %}
        {%- set row_attr = row_attr|merge({ class: row_attr.class~' invalid'}) -%}
    {% endif %}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block submit_widget -%}
    {{ component('button', {
        type: 'submit',
        label: label,
        color: themeColor
    }) }}
{%- endblock submit_widget %}